<div class="container">
  {{#if addNewPlace}}
      <h1>Add New Place</h1>
      <div class="container">
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            {{input value=name id="name"}}
          </div>
          <div class="form-group">
            <label for="image">Image URL</label>
            {{input value=image id="image"}}
          </div>
          <div class="form-group">
            <label for="type">Type</label>
            {{input value=type id="type"}}
          </div>
          <div class="form-group">
            <label for="author">Author</label>
            {{input value=author id="author"}}
          </div>
          <div class="form-group">
            <label for="notes">Notes</label>
            {{input value=notes id="notes"}}
          </div>
          <div class="form-group">
            <label for="hours">Hours</label>
            {{input value=hours id="hours"}}
          </div>
          <div class="form-group">
            <label for="openDate">Open Date</label>
            {{input value=openDate id="openDate"}}
          </div>
          <div class="form-group">
            <label for="closeDate">Close Date</label>
            {{input value=closeDate id="closeDate"}}
          </div>
          <!-- <div class="form-group">
            <label for="latitude">Latitude</label>
            {{input value=latitude id="latitude"}}
          </div>
          <div class="form-group">
            <label for="longitude">Longitude</label>
            {{input value=longitude id="longitude"}}
          </div> -->
          <div class="form-group">
            <label for="address">Address</label>
            {{input value=address id="address"}}
          </div>
          <input type="text" id="tag" value="Place" hidden>
          <button {{action 'savePlace'}}>Save</button>
        </form>
      </div>
  {{else}}
      <button class="btn" {{action 'placeFormShow'}}>New Place</button>
  {{/if}}
</div>
