<div class='party-container'>
  <li><strong>{{party.name}}</strong> @ {{party.host}}</li>
  <li>Location: {{party.address}}</li>
  <li>Date/Time: {{party.date}}, {{party.startTime}} to {{party.endTime}}</li>
  <li>Good for ages: {{party.ageGroup}}</li>
  <li>Additional details: {{party.details}}</li>
  <!-- <button class='btn btn-xs' {{action 'delete' party}}>Delete</button> -->
</div>
