  {{party.name}}
  {{party.host}}
  {{party.address}}
  {{party.date}}, {{party.startTime}} to {{party.endTime}}
  Good for ages: {{party.ageGroup}}
  Additional details: {{party.details}}
  <br>
  <button {{action 'delete' party}}>Delete Event</button>
